<html>

<body>

<div>

    <div>Users list</div>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <span>{{login}}</span>
        <i>{{password}}</i>
        <i>{{email}}</i>
    </div>
    {{/users}}

</div>

</body>
</html>