<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="ВВОд">
        <input type="text" name="tag" placeholder="tTAAGGG">
        <button type="submit">ADD</button>
    </form>
</div>

<div>
    <!--/*@thymesVar id="messages" type="com"*/-->
    <p>Список сообщений:</p>
    <div th:each="message : ${messages}">
        <span th:text="${message.id}"></span>
        <b th:text= "${message.text}"></b>
        <i th:text="${message.tag}"></i>
    </div>﻿
</div>

</body>
</html>